<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SensorsStream.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <SensorsStream.Properties.Settings>
            <setting name="RunOnStarup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDPTransport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WSTransport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UDPPort" serializeAs="String">
                <value>8545</value>
            </setting>
            <setting name="WSPort" serializeAs="String">
                <value>8546</value>
            </setting>
            <setting name="CPUHardware" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GPUHardware" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RAMHardware" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FanHardware" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StorageHardware" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MotherboardHardware" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkHardware" serializeAs="String">
                <value>False</value>
            </setting>
        </SensorsStream.Properties.Settings>
    </userSettings>
</configuration>
